@model IEnumerable<EnhancedBlogger.Models.BlogInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogInfoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogSubTheme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogInfoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogSubTheme.BlogSubThemetitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
