@model IEnumerable<EnhancedBlogger.Models.LogGrouping>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogGroupingtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogGroupingComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupingCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogGroupingtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogGroupingComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupingCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogGroupingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogGroupingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogGroupingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
