@model EnhancedBlogger.ViewModels.AThemesWithSubThemesViewModel
@{
    ViewData["Title"] = "A Theme & Its Subthemes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>Themes and Subthemes</h1>
<p>I'm listing a theme ID and then I'm listing a Theme name (BlogThemeTitle)</p>
@Html.DisplayFor(modelItem => modelItem.blogTheme.BlogThemetitle)
<h1>Choose a Sub-theme!</h1>
<div>
    @{ int theme = @Model.blogTheme.BlogThemeId;
        foreach (var item in Model.blogSubThemes)
        {
            <p>@Html.DisplayFor(modelItem => item.BlogSubThemetitle)</p>
            int d;
            d = item.BlogSubThemeId;
            switch (d)
            {
                case 1:
                    <a href="/BlogSubThemes/ThemeSubsPosts/1">Choose @item.BlogSubThemetitle</a>
                    break;
                case 2:
                    <a href="/BlogSubThemes/ThemeSubsPosts/2">Choose @item.BlogSubThemetitle</a>
                    break;
                case 3:
                    <a href="/BlogSubThemes/ThemeSubsPosts/3">Choose @item.BlogSubThemetitle</a>
                    break;
                case 4:
                    <a href="/BlogSubThemes/ThemeSubsPosts/4">Choose @item.BlogSubThemetitle</a>
                    break;
                case 5:
                    <a href="/BlogSubThemes/ThemeSubsPosts/5">Choose @item.BlogSubThemetitle</a>
                    break;
                case 6:
                    <a href="/BlogSubThemes/ThemeSubsPosts/6">Choose @item.BlogSubThemetitle</a>
                    break;
                case 7:
                    <a href="/BlogSubThemes/ThemeSubsPosts/7">Choose @item.BlogSubThemetitle</a>
                    break;
                case 8:
                    <a href="/BlogSubThemes/ThemeSubsPosts/8">Choose @item.BlogSubThemetitle</a>
                    break;
                case 9:
                    <a href="/BlogSubThemes/ThemeSubsPosts/9">Choose @item.BlogSubThemetitle</a>
                    break;
                case 10:
                    <a href="/BlogSubThemes/ThemeSubsPosts/10">Choose @item.BlogSubThemetitle</a>
                    break;
                case 11:
                    <a href="/BlogSubThemes/ThemeSubsPosts/11">Choose @item.BlogSubThemetitle</a>
                    break;
                case 12:
                    <a href="/BlogSubThemes/ThemeSubsPosts/12">Choose @item.BlogSubThemetitle</a>
                    break;
            }

        }
    }

</div>



