@model IEnumerable<EnhancedBlogger.Models.TopicItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicItemThought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteTopic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicItemThought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPost.BlogText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteTopic.NoteTopicComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TopicItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TopicItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TopicItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
